@model ExpensesTrackerAplication.Models.Expens

@Html.HiddenFor(a => a.Id)

<h2>Save</h2>

@using (Html.BeginForm("save", "home", FormMethod.Post, new { id = "popupForm" }))
{

    <div class="form-group">
        <label></label>

    </div>
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(a => Model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => Model.Name)
    </div>
    <div class="form-group">
        <label>ExpenseDate</label>
        @Html.TextBoxFor(a => Model.ExpenseDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => Model.ExpenseDate)

    </div>
    <div class="form-group">
        <label>Amount</label>
        @Html.TextBoxFor(a => Model.Amount, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => Model.Amount)

    </div>
    <div class="form-group">
        <label>Description</label>
        @Html.TextBoxFor(a => Model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => Model.Description)

    </div>

    <div>
        <input type="submit" value="Save" />
    </div>
}

